% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
% ex: ft=erlang ts=4 sw=4 et

{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [helium_optee_port]}
]}.

{pre_hooks,
  [{"(linux)", compile, "make -C c_src"}]}.
{post_hooks,
  [{"(linux)", clean, "make -C c_src clean"}]}.

{relx, [{release, {helium_optee_erl_port, "0.1.0"},
                ['helium_optee_port']},
        {dev_mode, true},
        {include_erts, true},
        {system_libs, true},

        {extended_start_script, true},
        {generate_start_script, true}]}.

{profiles, [
            {prod, 
                [{relx, 
                    [{dev_mode, false},
                    {include_erts, true},
                    {system_libs, true}
                    ]}]
            },
            {dev, 
                [{relx, 
                    [{dev_mode, true},
                    {include_erts, true},
                    {system_libs, true}
                    ]}]
            }
           ] }.

